.Contacts {
    display: flex;
    padding: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Icon-Email, .Icon-Facebook, .Icon-Instagram, .Icon-WhatsApp, .Icon-Phone {
    list-style-type: none;
    margin: 10px;
}
.Link-Email, .Link-Facebook, .Link-Instagram, .Link-WhatsApp, .Link-Phone, .Link-Buy{
    color: black;
    font-family: sans-serif;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}
fieldset {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend{
    width: auto !important;
    border: none;
    font-size: 14px;
}